{
  "env": {
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/*.jsx"],
      "parser": "babel-eslint",
      "extends": ["eslint:recommended", "react-app", "prettier"]
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "react-app",
        "prettier"
      ]
    }
  ]
}
